
        body {
            font-family: "Open Sans", sans-serif;
            color: #0c0c0c;
            background-color: #ffffff;
            overflow-x: hidden;
        }
        
        .cursive-font {
            font-family: 'Dancing Script', cursive;
        }
        
        .hero-section {
            background-image: url('foto/1.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
        }
        
        .navbar-nav .nav-link.active,
        .navbar-nav .nav-link:hover,
        .navbar-nav .nav-link i:hover {
            color: #ffbe33 !important;
        }
        
        .btn-warning:hover {
            background-color: #e69c00;
        }
   
        .carousel-indicators [data-bs-target] {
            background-color: #ffffff;
            width: 12px;
            height: 12px;
            transition: all 0.3s ease;
        }
        
        .carousel-indicators .active {
            background-color: #ffbe33;
            width: 17px;
            height: 17px;
        }
        
        .carousel-item {
            min-height: 80vh;
        }
        
      
        .offer-image {
            width: 150px;
            height: 150px;
            overflow: hidden;
            transition: transform 0.3s ease;
        }
        
        .offer-image:hover {
            transform: scale(1.10);
        }
        
        .menu-nav .nav-item .nav-link {
            color: #222831;
        }
        
        .menu-nav .nav-item .nav-link.active {
            background-color: #222831;
            color: #ffffff;
        }
        
        .card-image {
            height: 280px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .card-image img {
            width: 180px;
        }

        .accordion-button {
            background-color: #222831;
            color: #fff;
        }
        
        .accordion-button:focus {
            box-shadow: none;
        }
        
        .accordion-button:not(.collapsed) {
            background-color: #ffbe33;
            color: #fff;
        }
        
        .accordion-button::after {
            filter: brightness(0) invert(1);
        }
        
        .accordion-body {
            background-color: #222831;
            color: #fff;
        }
       
        .navbar {
            transition: all 0.3s ease;
        }
        
        .navbar-scrolled {
            background-color: rgba(0, 0, 0, 0.9) !important;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        }
   